@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

/*Сброс стилей*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, p {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}


button {
    line-height: 1.1;
}

img {
    max-width: 100%;
    display: block;
}
